n8n/assistant-workflow.json
{
  "name": "Online Bookstore Assistant",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant",
        "responseMode": "onReceived",
        "responseData": "={{ $json }}",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "const chatInput = $json.chatInput || '';
const intent = $json.intentHint || 'general';
const book = $json.selectedBook?.title || null;
let reply = 'I can help with books, reviews, and pricing.';

if (intent === 'reviews' && book) {
  reply = `${book} has positive reader feedback overall. If you want, I can also help compare it with similar books.`;
} else if (intent === 'browse' && book) {
  reply = `${book} is available for $${$json.selectedBook?.price ?? 'N/A'}. You can ask me for reviews or similar recommendations.`;
} else if (book) {
  reply = `${book} is currently priced at $${$json.selectedBook?.price ?? 'N/A'}. You can ask for reviews, stock status, or next steps.`;
}

return [{ json: { reply } }];"
      },
      "name": "Set Reply",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "statusCode": 200
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.webhook-response",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "id": "1"
}
